#modal-item {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--background-terciario); /* fundo escuro semi-transparente */
  z-index: 9999; /* garantir que está acima do header, footer etc. */
  display: flex;
  flex-direction: column;
  
  align-items: center;
  overflow-y: auto; /* permite rolagem se o conteúdo for grande */

}

#modal-item.hidden {
  display: none;
}

.modal-header{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background: url(../images/burger-top-food.png);
    background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    border-radius: 0px 0px 10px 10px;
}


.modal-body{
    width: 100%;
    
}

.modal-info{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.obs-pedido{
  height: 80px;
  width: 95%;
  border: 1px solid var rgb(156, 153, 153);
  padding: 0.2em;
}

.modal-extras{
    width: 100%;
   
    flex-direction: column;
    display: flex;
}

.modal-extras p{

}

.card-item-modal{
  display: flex;

  align-items: center;
  width: 100vw;
  height: 50px;
  margin: 0;
  padding: 0;
 

}
.img-item-modal{
  width: 50px;
  height: 50px;
 
}

.img-item-modal img{
  width: 50px;
  height: 50px;
 
}
.card-item-modal button{
  width: 150px;
  height: 50px;
 
}
.info-item-modal{
  display: flex;
  gap: 1em; 
  justify-content: start;
  width: 100vw;
  height: 50px;
  align-items: center;
 
}
.info-item-modal p{
  width: 70px;
  height: 20px;
 
}
.modal-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  
  background-color: #fff; /* ou a cor do seu modal */
  justify-content: space-around;
  display: flex;

  align-items: center;
  z-index: 10000; /* acima do conteúdo do modal */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); /* sombra opcional para destacar */
}

.modal-button p{
  width: 60px;
}
